@media screen and (min-width:993px) and (max-width:1280px){
    .container{
        width: 90%;
    }
    #banner {
    display: flex;
    margin: 30px;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content h1 {
    font-size: 63px;
    margin-bottom: 20px;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-bottom: 12px;
}
#about .about-container {
    text-align: center;
    background-color: #FFF8F3;
    padding: 13px 15px;
}
}