@media screen and (max-width:576px) {
    header {
        background: url(../images/header_bg.png), #FFF8F3;
        background-repeat: no-repeat;
    }
    .container{
        width: 100%;
        
    }
    nav{
        gap: 20px;
    }
    nav .menu{
        flex-wrap: wrap;
        justify-content: center;
    }
    #banner{
        margin: 20px;
        text-align: center;
    }
    #banner .banner-content{
        width: 100%;
        margin: 20px;
    }
    #banner .banner-content h1{
        font-size: 52px;
    }
    .btn {
    background-color: #FD6E0A;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
}
#banner .banner-image img{
    width: 100%;
}
    .container , nav , #banner,#about, #skills, #resume,#about .about-container .about-info ,#skills .skills-container .skill-box,footer .footer-container{
        flex-direction: column;
    }
    #about, #skills, #resume{
        padding: 20px;
    }
    #about .about-container{
        padding: 10px;
    }
    #about .about-container .about-info{
        gap: 20px;
    }
    .skill-box .skill-card{
        max-width: 100%;
        padding: 10px;
        text-align: center;
    }
    #resume .resume-container{
        margin-top: 60px;
        padding: 10px;
    }
    footer{
        margin-top: 60px;
        padding: 20px;
    }
    footer .footer-container{
        max-width: 100%;
    }
    .footer-container form input[type="text"], .footer-container form textarea{
        max-width: 100%;
    }
}